  <%= form_for @restaurant do |f| %>

  <%= f.label :name, "Enter a name" %>
  <%= f.text_field :name %>

  <%= f.label :address, "Which address ?" %>
  <%= f.text_field :address %>

  <%= f.label :stars, "How many stars ? " %>
  <%= f.number_field :stars %>

  <%= f.submit  %>
<% end %>


<!---
<H1>NEW</H1>

<form action="/restaurants" method="post">

<input type="text" name="restaurants[name]">
<input type="number" name="restaurants[stars]">
<input type="text" name="restaurants[address]">

<input type="submit" value="Create Restaurant">
</form>
--->
